<!DOCTYPE html>
<html>
<head>
	<title>Examples</title>
	<meta http-equiv="refresh" content="1">
	<!-- <script src="../Scripts/Loops.js"></script>-->
	<script src="../Scripts/JSBuitLinObjects.js"></script>

</head>
<body>
	<span id="divTime"></span>
	<script type="text/javascript">
		//forLoopDemo();
		//whileLoopDemo();
		//dowhileLoopDemo();
		//forinLoopDemo();
		//DateTimeOperations();
		function init(){
		var div = document.getElementById('divTime');
		div.innerText = getTime();						
		}

		window.addEventListener('load', init);
	</script>
</body>
</html>
